<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ecommerce Website</title>
</head>

<body>

  <header>
    <h1>
      Website Name
    </h1>
  </header>

  {{{body}}}



 

  <!-- footer-->
  <footer>
    <h2>Created with ❤️ by BootCamp Students </h2>
  </footer>


</body>

<script src="/scripts/cart.js"></script>

</html>