  <header>
      <h1>
        Website Name
      </h1>
    </header>



    <!-- "Concept" section-->
    <section id="what-we-do" class="intro">
      <div class="flex-row">
        <h2 class="section-title primary-border">Who we are </h2>
      </div>
      <div class="flex-row">
        <P>
            Add in brief description of our Website
        </P>
      </div>
    </section>

   

    <!-- "Videos" section-->
    <section id="videos-layout">

      <div class="flex-row">
        <h2 class="section-title primary-border">Videos</h2>
      </div>

      <div class="videos-layout">

        <article class="video">
            <div class="video-img">
              <div>
                <h3>Video 1</h3>
                <h4>{{ data }}</h4>
              </div>
            </div>
          
        </article>
  
        <article class="video">
          <div class="video-img">
            <div>
              <h3>Video 2</h3>
              <h4>{{ data }}</h4>
            </div>
          </div>
          
        </article>
  
        <article class="video">
          <div class="video-img">
            <div>
              <h3>Video 3</h3>
              <h4>{{ data }}</h4>
            </div>
          </div>
          
        </article>
      </div>

    </section>